<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
</head>
<body>
    <header>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
