<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Style", false)
    @RenderSection("Script", false)
    <link rel="stylesheet" href="~/css/navigation.css" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/user/SwitchLocale?locale=en">English</a>
            <a href="/user/SwitchLocale?locale=ru">Русский</a>
        }
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
